<h3>Listing all articles</h3>

<p>You hve written <%= @allarticles.length %> articles
</p>
<% @allarticles.each do |article| %>
  </br>
  <%= article.title %>
  </br>
  <%= article.description %>
  </br>
  <%= article.created_at %>

<% end %>