<h1>Showing article</h1>


<p>Title: <%= @article.title %></p>

<br/>
<br/>

<p>Description: <%= @article.description %></p>
<p>Created at: <%= @article.created_at %></p>

<p>Updated at: <%= @article.updated_at %></p>



