<div class="center jumbotron">
  <h1>This is Alpha Blog</h1>
<%= link_to 'Show all articles', articles_path %>
<br>
<%= link_to 'about', about_path %>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now</a></p>
</div>
