<footer class="footer">
      <div class="container">
        <span class="text-muted"><%= link_to 'Alpha Blog', root_path  %> created in 2018 by Andrzej Brandt.</span>
        <span class="text-muted"><%= link_to 'About', about_path%> </span>
      </div>
    </footer>